* {
    margin: 0rem;
    padding: 0rem;
    top: 0%;
    left: 0%;
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
html {
    font-size: 62.5%;
    width: 100vw;
    min-height: 100vh;
}

body {
    background: url("bg5.jpg") no-repeat center fixed;
    font-family: 'Langar', cursive;
    background-size: cover;
    margin: 0;
}

h1 {
    font-size: 6.4rem;
    width: 48rem;
    color: white;
    text-shadow: -.4rem .2rem .3rem #109790;
    text-align: center;
}

.parent1 {
    display: flex;
    justify-content: space-between;
}

.parent2 {
    padding-left: 22rem;
}

.parent3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36rem;
    padding: 4rem;
    padding-top: 20rem;
}

.urlBox {
    width: 46rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    justify-content: space-evenly;
}

.btn {
    background-color: rgb(38 85 111);
    color: white;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    border: .2rem solid white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
    padding: 0.8rem;
}

.urlBox input {
    font-size: 1.8rem;
    padding: .9rem 1.2rem;
    border-radius: 1.6rem;
    outline: none;
    width: 100%;
    border: .3rem solid rgb(34 87 110);
}

.btn:hover {
    background-color: rgb(196, 142, 42);
    color: white;
    border: .2rem solid wheat;
    font-size: 2rem;
}

#animatedText {
    font-family: 'Langar', cursive;
    box-shadow: 0rem 0rem 1.5rem .4rem #22576e;
    border: .2rem solid white;
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    background-color: rgb(34 87 110);
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1.5rem;
    cursor: pointer;
    width: 14rem;
}

#animatedText:after {
    content: "";
    animation: animatedText 4s ease-in-out infinite;
}

@keyframes animatedText {
    0% {
        content: "Simple";
    }
    50% {
        content: "Better";
    }
    100% {
        content: "Faster";
    }
}

::placeholder {
    color: rgba(0, 0, 0, 0.664);
    font-weight: bold;
}

.child1 {
    padding: 3rem 4rem;
}

.child2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19rem;
    height: 12rem;
    padding: 3rem;
}

.child2 a {
    font-family: 'Langar', cursive;
    background-color: rgb(38 85 111);
    border: .1rem solid white;
    font-size: 1.8rem;
    padding: 1.05rem;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0rem 0rem 1.5rem .4rem #22576e;
    outline: none;
    transition: all 0.2s ease-in;
}

.child2 a {
    text-decoration: none;
    color: white;
}

.child2 a:hover {
    background-color: rgb(196, 142, 42);
    font-size: 2.22rem;
}

.a i {
    font-size: 2.24rem;
}

.child4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 6rem;
    margin-left: .6rem;
}

@media(max-width:759px) {
    .parent1 {
        flex-direction: column;
    }
    .child1 {
        display: flex;
        justify-content: center;
    }
    .child2 {
        width: auto;
    }
    .parent2 {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:554px) {
    .btn {
        width: 10rem;
    }
    .btn:hover {
        font-size: 1.8rem;
    }
    .child2 a:hover {
        font-size: 1.8rem;
    }
}

@media (max-width:370px) {
    h1 {
        font-size: 5rem;
    }
    .parent3 {
        /* width: none; */
        flex-direction: column;
        height: auto;
        padding-top: 6rem;
    }
    .urlBox {
        width: auto;
    }
    .child4 {
        justify-content: center;
    }
}
